#contact {
    background: rgb(247, 239, 237);
    padding: 1rem;
}

#contact ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

#contact ul li {
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

#contact ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

#contact ul li a img {
    width: 5rem;
    height: 5rem;
    padding-bottom: 0.5rem;
}

#contact h2 {
    font-size: 5rem;
    color: black;
}