#contact {
    background: rgb(247, 239, 237);
    padding: 1rem;
}

#contact ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-around;
    list-style: none;
    width: min(100%, 70rem);
    margin-inline: auto;
}

#contact ul li {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    /* background-image: radial-gradient(at 0% 0%, red 50%, white 50%); */
}

#contact ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

#contact ul li a img {
    width: 5rem;
    height: 5rem;
    padding-bottom: 0.5rem;
}

#contact ul li a p {
    margin-bottom: 0;
}

#contact h2 {
    font-size: 5rem;
    color: black;
}