@property --blurry {
    syntax: "<number>";
    inherits: false;
    initial-value: 10;
}

#intro {
    /* width: 100vw; */
    height: 100lvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 1rem 1rem;
    position: relative;

}

h1 {
    text-transform: uppercase;
    font-size: 11rem;
    color: white;
    color: oklch(57.35% 0.185 249.88);
    color: rgb(255, 255, 255);
    filter: blur(var(--blurry)px) url('#filter');
    animation: blurry 2s;
    text-align: center;
}

span {
    display: block;
}

h1 span:nth-of-type(1) {
    font-size: 2.1rem;
    color: transparent;
    /* border: solid black; */
    -webkit-text-stroke: 2px white;
    /* text-shadow: 
    0.1rem 0.1rem 0rem white,
    -0.1rem -0.1rem 0rem white,
    0.1rem -0.1rem 0rem white,
    -0.1rem 0.1rem 0rem white; */

    /* animation: none; */
    /* filter: none; */
}

h1 span:nth-of-type(2) {
    margin-left: 1rem;
}

#intro svg {
    width: 100%;
    align-self: flex-end;
    position: absolute;
    pointer-events: none;
}

#intro path {
    width: 100vw;
    display: block;
    animation: anim linear both;
    animation-timeline: scroll();
    animation-range: contain;
}

@keyframes anim {
    100% {
        d: path("M0,300 C73,101 418,101 500,300");
    }
}













@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

#intro .background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #2c1438;
    overflow: hidden;
}

.background span {
    width: 50vmin;
    height: 50vmin;
    border-radius: 50vmin;
    /* backface-visibility: hidden; */
    position: absolute;
    animation: move;
    animation-duration: 12;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #ffaddd;
    top: 20%;
    left: 39%;
    animation-duration: 62s;
    animation-delay: -96s;
    transform-origin: 23vw -18vh;
    box-shadow: 100vmin 0 12.686650513178993vmin currentColor;
}
.background span:nth-child(1) {
    color: #b7a6e8;
    top: 53%;
    left: 60%;
    animation-duration: 256s;
    animation-delay: -173s;
    transform-origin: -1vw 2vh;
    box-shadow: -100vmin 0 13.43561269298695vmin currentColor;
}
.background span:nth-child(2) {
    color: #b7a6e8;
    top: 43%;
    left: 89%;
    animation-duration: 289s;
    animation-delay: -282s;
    transform-origin: 20vw -22vh;
    box-shadow: -100vmin 0 13.096580082300296vmin currentColor;
}
.background span:nth-child(3) {
    color: #815de5;
    top: 30%;
    left: 51%;
    animation-duration: 372s;
    animation-delay: -159s;
    transform-origin: -19vw 9vh;
    box-shadow: -100vmin 0 13.377481857290373vmin currentColor;
}
.background span:nth-child(4) {
    color: #815de5;
    top: 80%;
    left: 99%;
    animation-duration: 290s;
    animation-delay: -346s;
    transform-origin: 17vw -21vh;
    box-shadow: 100vmin 0 13.279049040617048vmin currentColor;
}
.background span:nth-child(5) {
    color: #815de5;
    top: 26%;
    left: 28%;
    animation-duration: 22s;
    animation-delay: -380s;
    transform-origin: -5vw 3vh;
    box-shadow: -100vmin 0 12.56532466274455vmin currentColor;
}
.background span:nth-child(6) {
    color: #815de5;
    top: 68%;
    left: 61%;
    animation-duration: 78s;
    animation-delay: -13s;
    transform-origin: 17vw -16vh;
    box-shadow: 100vmin 0 12.80874415579841vmin currentColor;
}
.background span:nth-child(7) {
    color: #b7a6e8;
    top: 3%;
    left: 86%;
    animation-duration: 183s;
    animation-delay: -214s;
    transform-origin: 20vw -17vh;
    box-shadow: -100vmin 0 13.466643714148729vmin currentColor;
}
.background span:nth-child(8) {
    color: #b7a6e8;
    top: 98%;
    left: 85%;
    animation-duration: 65s;
    animation-delay: -170s;
    transform-origin: 20vw 21vh;
    box-shadow: -100vmin 0 12.565432562196145vmin currentColor;
}
