aside {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 5rem;
    border-left: solid purple;
}

aside nav {
    width: 100%;
    height: 100%;
}

aside nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    width: 100%;
    height: 100%;
    padding: 0;
}

aside nav ul li {
    /* margin: 0; */
}