#projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-template-rows: auto;
    background: rgb(15, 15, 15);
}

#projects ul{
    list-style: none;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1rem);
    grid-template-rows: auto;
    transition: 2s;
    overflow-x: scroll;
    padding: 0;
}

#projects ul:hover {
    grid-template-columns: repeat(4, 20rem);
}

#projects div a {
    display: block;
    color: white;
    border: solid white;
    padding: 1rem;
    width: max-content;
    margin-top: 1rem;
    border-radius: 0.3rem;
}

#projects li{
    border: solid rgb(216, 216, 216);
    width: 19rem;
    border-radius: 30rem;
    background: rgb(15, 15, 15);
    padding: 2rem;

}

#projects li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: white;
}

#projects li img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 30rem;
}

#projects h2{
    color: rgb(232, 232, 232);
    /* font-size: 5rem; */
    font-size: clamp(2rem, 15vw, 5rem);
}