#projects {
    display: grid;
    grid-template-columns: 25rem 1fr;
    grid-template-rows: auto;
    background: rgb(15, 15, 15);
    padding: 2rem;
    padding-bottom: 20rem;
}

/* rgb(41, 21, 54); = background */
/* rgb(180, 167, 227); = lightest background */
/* rgb(124, 94, 220); = darkest background */

#projects ul{
    list-style: none;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1rem);
    grid-template-rows: auto;
    transition: 2s;
    overflow-x: scroll;
}

#projects ul:hover {
    grid-template-columns: repeat(4, 20rem);
}

#projects div a {
    color: white;
    text-decoration: underline;
}

#projects li{
    border: solid rgb(216, 216, 216);
    width: 19rem;
    /* height: 40rem; */
    border-radius: 30rem;
    background: rgb(15, 15, 15);
    padding: 2rem;

}

#projects li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: white;
}

#projects li img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 30rem;
}

#projects h2{
    color: rgb(232, 232, 232);
    font-size: 5rem;
}